@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2023-05-11 15:38:54
 * @version $Id$
 */

@media (min-width:980px){

	html {
		font-size: 16px;
	}
}

	body {
  font-family: "Roboto", sans-serif;
  color: black;
	}

	a:link {
		color: black;
	}

	a:visited {
		color: #purple;
	}

	a:hover {
		color: #3E4ECA;
	}

	a:active {
		color: #purple;
	}



	.main {
		margin: 0 auto;
		width: 90%;
	}


	.topnav {
		height: 84px;
		font-size: 24px;
		background-color: white;
	}

	.asian_icon {
		height: 70px;
		padding: 0;
	}

	.topnav-item {
		color: grey;
		transition: border-radius 2s,
		background-color 1s;
		
	}

	.topnav-item:hover {
		color: white;
		border-radius: 20px;
		background-color: #3E4ECA;
	}

	.topnav-item a {
		color: grey ;
	}

	.topnav-item a:hover {
		color: white ;
	}

	input[type="text"] {
	  border: 2px solid #ddd;
	  color: grey;
	  padding: 10px;
	  font-size: 16px;
	  cursor: pointer;
	}

	.banner1_img {
		margin-top: 20px;
		width: 100%;
	}

	.main_event {
		margin-top: 120px;
	}



	.event_tle {
		position: absolute;
		top: 550px;
		left: 160px;

	}





	.eventbox {
		display: flex;
		width: 100%;
		justify-content: space-between;
		
	}

	.item img {
		height: 100%;
	}



